.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  :host {
    
    .item-interactive.ion-valid{
       --highlight-background: #ea4e6d !important;
     }
   }