<!--
<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
<div class="flb">
   <div class="Aligner-item Aligner-item--top"></div>
   <img src="../../assets/img/icon_blanco.png" style="width:42px ;height:40px">
   <div class="Aligner-item Aligner-item--bottom"></div>
</div>
</div>
-->
<ion-header>
  <ion-toolbar>
   <ion-title class ="ion-text-center">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
 <div style="text-align: center;">
   <ion-img src="./assets/img/logo.png" style="width: auto;height: 18vh;margin-top:80px; "></ion-img>
 </div>
<div style="margin-left: 20px; margin-right: 20px;"> 
   <ion-row>
     <ion-col size="12">
          <ion-item >
              <ion-label position="floating">Usuario</ion-label>
              <ion-input  [(ngModel)]="usuario"   type="text"  ></ion-input>
          </ion-item>
      </ion-col>
   </ion-row>
   <ion-row>
      <ion-col size="12">
           <ion-item >
               <ion-label position="floating">Contraseña</ion-label>
               <ion-input   [(ngModel)]="pass"  type="password" ></ion-input>
           </ion-item>
       </ion-col>
    </ion-row>
  
    
   <div style="text-align: center;">
      <ion-button   (click)="alClickIniciarSesion()" >Iniciar
         <ion-ripple-effect ></ion-ripple-effect>
      </ion-button>
   </div>
      <ion-row>
         <ion-col size="12">
                <ion-label color="primary" (click)="alClickRegistrase()"> <u>Registrarse</u> </ion-label>
         </ion-col>
      </ion-row>
   </div> 

  
  
</ion-content>
