
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="MuestraMenu()">
        <ion-icon slot="icon-only" name="ios-keypad"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">CEDICOOP</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="MuestraAsamblea()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="content" side="start" menuId="first">
    <!--<ion-header> 
       <ion-toolbar> 
          <ion-title>Menu</ion-title> 
       </ion-toolbar>
    </ion-header> -->
    <ion-content>
      <ion-row>
        <div id="profileImage">
            {{nombre}}
        </div>
      </ion-row>
      <div *ngIf="socio != undefined" class="ion-text-center">
          <ion-row >
            <ion-col>
                <ion-label>{{socio.Nombre+' '+socio.Apellidos}}</ion-label>
            </ion-col>
          </ion-row><ion-row class="ion-text-center">
            <ion-col>
                <ion-label color="primary">{{'Numero de Socio: '+socio.IdSocio}}</ion-label>
            </ion-col>
            <ion-item-divider></ion-item-divider>
          </ion-row>
       </div>
        <ion-list>
          <ion-item (click) = "salir()">
              <ion-label>Cerrar Sesión</ion-label>
              <ion-icon name="log-out" size="small" slot="start"></ion-icon>
           </ion-item>
        </ion-list>
        <div>
            
            <div style="text-align: center; position: fixed; bottom: 20px;">
                <ion-label style="font-style: italic;font-weight: 600;">Desarrollado por: </ion-label>
                <ion-img src="./assets/img/blueCloud.png" style="width: auto;height: 12vh;margin-top:20px; "></ion-img>
            </div>
        </div>
         
   </ion-content>
</ion-menu> 
<ion-router-outlet id="content" main> </ion-router-outlet> 
<ion-content>
      <ion-grid *ngIf="asambleas?.Estatus==200">
        <ion-row >
          <ion-col size="12" *ngFor="let item of asambleas?.Model">
            <ion-list>
                <ion-item class="animated fadeInLeft " (click)="DetalleAsamblea(item)">
                  <ion-col size="6"  >
                    <ion-label>{{item.NombreAsamblea}}</ion-label>
                  </ion-col>
                  <ion-col size="2" offset="1">
                      <ion-button *ngIf="item.EstatusAsamblea==2" color="success">
                        <ion-icon slot="icon-only" name="unlock"></ion-icon>
                      </ion-button>

                      <ion-button *ngIf="item.EstatusAsamblea==1"   color="warning">
                        <ion-icon slot="icon-only" name="lock"></ion-icon>
                      </ion-button>

                      <ion-button *ngIf="item.EstatusAsamblea==3"   color="primary">
                        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
                      </ion-button>
                  </ion-col>
                  <ion-col size="2"  offset="2">
                    <ion-icon   name="ios-arrow-forward"></ion-icon>
                  </ion-col>
                </ion-item>
            </ion-list>
          </ion-col>
        </ion-row> 
    </ion-grid>

    <ion-grid style="height: 100%"  *ngIf="asambleas?.Estatus!=200">
      <ion-row justify-content-center align-items-center style="height: 100%">
       <ion-label color ="primary" >Aun no tienes Asambleas Cargadas</ion-label> 
      </ion-row>
    </ion-grid>

     
</ion-content>

